html,
body,
#root,
.app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.app > .root-container {
  height: calc(100% - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}
