:root {
  /* Background Colors */
  --bg-color-1: #0E1627;
  /* Text Colors */
  --text-color-1: #FFFFFF;
  --text-color-2: #A7ADBB;
}

.max-height {
  height: 100%;
}

.max-width {
  width: 100%;
}

html,
body,
#root,
.app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}