/* ======== LAYOUT ATTRIBUTES ======= */
html [data-layout][data-horizontal],
html [data-layout][data-vertical],
html .data-layout.data-horizontal,
html .data-layout.data-vertical {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

html [data-layout][data-horizontal][data-inline],
html [data-layout][data-vertical][data-inline],
html .data-layout.data-horizontal.data-inline,
html .data-layout.data-vertical.data-inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

html [data-layout][data-horizontal],
html .data-layout.data-horizontal {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

html [data-layout][data-horizontal][data-reverse],
html .data-layout.data-horizontal.data-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

html [data-layout][data-vertical],
html .data-layout.data-vertical {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

html [data-layout][data-vertical][data-reverse],
html .data-layout.data-vertical.data-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

html [data-layout][data-wrap],
html .data-layout.data-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

html [data-layout][data-wrap-reverse],
html .data-layout.data-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

html [data-flex],
html .data-flex {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

html [data-vertical][data-layout] > [data-flex][data-auto-vertical],
html [data-vertical][data-layout]::shadow [data-flex][data-auto-vertical],
html .data-vertical.data-layout > .data-flex.data-auto-vertical,
html .data-vertical.data-layout::shadow .data-flex.data-auto-vertical {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}

html [data-flex][data-auto],
html .data-flex.data-auto {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}

html [data-flex][data-none],
html .data-flex.data-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

html [data-flex][data-one],
html .data-flex.data-one {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

html [data-flex][data-two],
html .data-flex.data-two {
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

html [data-flex][data-three],
html .data-flex.data-three {
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}

html [data-flex][data-four],
html .data-flex.data-four {
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
}

html [data-flex][data-five],
html .data-flex.data-five {
  -ms-flex: 5;
  -webkit-flex: 5;
  flex: 5;
}

html [data-flex][data-six],
html .data-flex.data-six {
  -ms-flex: 6;
  -webkit-flex: 6;
  flex: 6;
}

html [data-flex][data-seven],
html .data-flex.data-seven {
  -ms-flex: 7;
  -webkit-flex: 7;
  flex: 7;
}

html [data-flex][data-eight],
html .data-flex.data-eight {
  -ms-flex: 8;
  -webkit-flex: 8;
  flex: 8;
}

html [data-flex][data-nine],
html .data-flex.data-nine {
  -ms-flex: 9;
  -webkit-flex: 9;
  flex: 9;
}

html [data-flex][data-ten],
html .data-flex.data-ten {
  -ms-flex: 10;
  -webkit-flex: 10;
  flex: 10;
}

html [data-flex][data-eleven],
html .data-flex.data-eleven {
  -ms-flex: 11;
  -webkit-flex: 11;
  flex: 11;
}

html [data-flex][data-twelve],
html .data-flex.data-twelve {
  -ms-flex: 12;
  -webkit-flex: 12;
  flex: 12;
}

/* alignment in cross axis */
html [data-layout][data-start],
html .data-layout.data-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

html [data-layout][data-center],
html [data-layout][data-center-center],
html .data-layout.data-center,
html .data-layout.data-center-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

html [data-layout][data-end],
html .data-layout.data-end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/* alignment in main axis */
html [data-layout][data-start-justified],
html .data-layout.data-start-justified {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

html [data-layout][data-center-justified],
html [data-layout][data-center-center],
html .data-layout.data-center-justified,
html .data-layout.data-center-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

html [data-layout][data-end-justified],
html .data-layout.data-end-justified {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

html [data-layout][data-around-justified],
html .data-layout.data-around-justified {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

html [data-layout][data-justified],
html .data-layout.data-justified {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* self alignment */
html [data-self-start],
html .data-self-start {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

html [data-self-center],
html .data-self-center {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}

html [data-self-end],
html .data-self-end {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

html [data-self-stretch],
html .data-self-stretch {
  -ms-align-self: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

/*******************************
          Other Layout
*******************************/
html [data-block],
html .data-block {
  display: block;
}

/* ie support for hidden */
html [data-hidden='true'] {
  display: none !important;
}

html [data-relative],
html .data-relative {
  position: relative;
}

html [data-fit],
html .data-fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body[data-fullbleed],
body.data-fullbleed {
  margin: 0;
  height: 100vh;
}

/* ======== EMD LAYOUT ATTRIBUTES ======= */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app > .root-container {
  margin-top: 20px;
}

.version-container {
  margin-top: 20px;
}
